.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infinite_scroll_container {
  width: calc(100vw - 10em);
  max-width: 2500px;
  background: #202025;
  border-radius: 0.5em;
  table-layout: fixed;
}

.trade_log_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  table-layout: fixed;
   
  tr td {
    width: 100%;
    text-align: center;
  }
}

.trade_log_label {
  width: calc(100vw - 20em);
  display: flex;
  align-items: center;
  color: white;
}

.trade_log {
  width: calc(100vw - 20em);
  margin-top: 0.5em;
  height: 2em;
  background: #303036;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  color: white;

  &:hover {
    background: #424249;
    cursor: pointer;
    transition: all .1s ease-in-out;
    transform: scale(1.005);
  }
}

.stats_container {
  margin-top: 2em;
  height: 20em;
  border-radius: 0.5em;
  width: calc(100vw - 10em);
  max-width: 2500px;
  background: #202025;
}

.add_trade_button {
  width: 3em;
  height: 3em;
  background: #7AB3C7;
  position: fixed;
  bottom: 2em;
  right: 2em;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background: #9BD5E9;
    transition: all .1s ease-in-out;
    transform: scale(1.05);
  }
}
